<div class="row" id="article-display">
  <div class="col-md-12">
    <h1><%= @article.title %></h1>
    <p><%= simple_format(@article.body) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Comments</h3>
    <%= render partial: "comments" %>
    <%= render partial: "comment_form" %>
  </div>
</div>
